$containerwidth:58.75rem;
$baseFontSize:16px;

//breakpoint

$tablets:768px;
$phones:480px;
$min-phones:380px;

//color 
$yeelow:#FEDB3F;
$write:#fff;

@import "media";

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&family=Open+Sans&display=swap");
@import url(/css/normalize.css);


@import './bloks/_header.scss';
@import './bloks/_hello.scss';
@import './bloks/_features.scss';
@import './bloks/_reviews.scss';
@import './bloks/_form.scss';
@import './bloks/_footer.scss';
@import './bloks/_icons.scss';
@import './bloks/_section.scss';
@import './bloks/_shop.scss';
@import './bloks/_drop.scss';
@import './bloks/_goods.scss';
@import './bloks/_team.scss';
@import './bloks/_modal.scss';
@import './bloks/_slider.scss';




@import './_layout.scss';
