@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&family=Open+Sans&display=swap");
@import url(/css/normalize.css);
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 28px;
  margin-bottom: 46px;
}

.phone__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

.phone-number__text {
  font-weight: 700;
  font-size: 22px;
}

.phone-number__icon {
  width: 13px;
  height: 14px;
  margin-right: 5px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 38px;
}
.menu__item {
  margin-right: 22px;
}
.menu__item:last-child {
  margin-right: 47px;
}
.menu__link {
  font-weight: 700;
  font-size: 18px;
}

.hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/arnaud-mesureur-17OxKyThYPo-unsplash\ 1.jpeg) center center no-repeat;
  background-color: #1968B1;
  font-family: "Alegreya Sans", sans-serif;
  height: 100vh;
  min-height: 650px;
  color: #fff;
}
.hello__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.hello__title-section {
  width: 41%;
}
.hello__main-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin: 0;
  margin-bottom: 17px;
  text-transform: uppercase;
}
.hello__title-desc {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 39px;
}

.btn {
  display: block;
  width: 156px;
  height: 60px;
  background: #FEDB3F;
  border-radius: 35px;
  padding: 21px 41px;
  color: #000;
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 32px;
  border: none;
}
.btn:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #FFD517;
}

/**
.hello__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__content{
    display: flex;
    flex-direction: column;
}
.btn{
    width: 156px;
    height: 60px;
    background: #FEDB3F;
    border-radius: 35px;
    padding: 21px 41px;
    color: #000;
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 32px;
    border: none;
    &:hover{
        transition: .4s;
        background: #FFD517;
    }
}
*/
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feature__icon {
  width: 66px;
  height: 66px;
}
.feature__icon-litle {
  width: 44px;
  height: 66px;
}
.feature__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 58px;
  color: #000;
  margin: 0;
  margin-bottom: 20px;
}
.feature__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.feature__desc {
  width: 279px;
  font-weight: 300;
  font-size: 18px;
}
.feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 5%;
}
.feature__item:first-child {
  margin-left: 0;
}
.feature__item:last-child {
  margin-right: 0;
}
.feature__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F2F5F4;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F8FAF9;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 42px 142px 42px 42px;
  margin-bottom: 7px;
}
.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 63px;
  margin-top: 0;
}
.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6px;
}
.reviews__link {
  display: block;
  width: 74px;
  height: 74px;
}
.reviews__logo {
  display: block;
  margin: 3px;
  width: 74px;
  height: 74px;
}
.reviews__logo:hover {
  margin: 0px;
  border-radius: 50%;
  border: 6px solid #FEDB3F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.review__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 62%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review__img {
  width: 253px;
  height: 264px;
  margin-right: 40px;
}

.review__text {
  color: #666666;
  font-weight: 400;
  font-size: 18px;
}

.review__title {
  font-weight: 700;
  font-size: 27px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}
.form__input {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  border: none;
  padding: 18px 11px;
  border: solid 3px transparent;
  border-radius: 4px;
}
.form__input:focus {
  border: solid 3px #FEDB3F;
  outline: none;
}
.form__input--textarea {
  height: 152px;
  margin-bottom: 38px;
}
.form--payment-methods {
  margin-bottom: 19px;
}
.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-section {
  background: url(../img/backgroundform.jpeg) top 20% center no-repeat;
}
.form-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-top: 62px;
}
.form-section__title {
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 52px;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__col:last-child {
  margin-right: 0;
}

.label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.label:last-child {
  margin-right: 0;
}

.btn--grey {
  width: 156px;
  height: 60px;
  background: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.btn--grey:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: rgba(0, 0, 0, 0.5019607843);
}
.btn--yeelow {
  width: 156px;
  height: 60px;
}

.checkbox {
  display: none;
}

.radio {
  display: none;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  margin-right: 15px;
}
.controls--checkbox {
  margin-bottom: 44px;
}

.fake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin-right: 10px;
  background: #fff;
}
.fake::before {
  content: "";
  width: 10px;
  height: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50%;
  left: 50%;
  background: url(../img/checked.png) center center no-repeat;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fake__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}
.fake__radio::before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FEDB3F;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.checkbox:checked + .fake::before {
  opacity: 1;
}

.radio:checked + .fake__radio::before {
  opacity: 1;
}

.adventages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adventage__icon {
  width: 34px;
  height: 34px;
  margin-right: 14px;
}
.adventage__text {
  font-weight: 700;
  font-size: 16px;
}
.adventage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 33px;
}
.adventage__text {
  width: 90px;
  font-weight: 700;
  font-size: 16px;
}

.section {
  height: 100vh;
  min-height: 650px;
  width: 100vw;
  min-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 107px;
}
.section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #000;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 49px;
}
.headline__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #000;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.headline__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  width: 69%;
  text-align: center;
}

html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  line-height: 1.42;
  font-family: "Alegreya Sans", sans-serif;
  position: relative;
  margin: 0;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 avto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}