.features{
    display: flex;
    justify-content: center;
    width: 100%;
    @include phones{
        flex-direction: column;
    }

}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon{
        width: 4.12rem;
        height: 4.12rem;
    }
    &__icon-litle{
        width: 2.75rem;
        height: 4.12rem;
    }

    &__title{
        font-weight: 700;
        font-size: 1.68rem;
        line-height: 2.25rem;
        color: #000;
        margin: 0;
        margin-bottom: 1.25rem;
    }
    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__desc{
        font-weight: 300;
        font-size: 1.1rem;
    }
    
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 1;
        margin: 0 5%;
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right:0;
        }
    }
    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F2F5F4;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        margin-bottom: 1.25rem;
    }

    @include phones{
        &__text{
            margin-left: 0.75rem;
            width: 61%;
            align-items: flex-start;
            text-align: start;
        }
        &__desc {
            width: 100%;
            font-weight: 300;
            font-size: 1.1rem;
            padding:0;
        }
        &__item{
            flex-direction: row;
            margin:  5%;
            &:first-child{
                margin:  5%;
            }
        }
        &__image{
            margin-left: 0.6rem;
            margin-bottom: 0;
            width: 8rem;
            height: 8rem;
        }
    }
}
/**

@media (max-width:480px) {

    .features{
        flex-direction: column;
    }

    .feature{
        &__text{
            margin-left: 0.75rem;
            width: 61%;
            align-items: flex-start;
            text-align: start;
        }
        &__desc {
            width: 100%;
            font-weight: 300;
            font-size: 1.1rem;
            padding:0;
        }
        &__item{
            flex-direction: row;
            margin-bottom: 2.6rem;
        }
        &__image{
            margin-left: 0.6rem;
            margin-bottom: 0;
            width: 8rem;
            height: 8rem;
        }
    }

}
*/