.features{
    display: flex;
    justify-content: center;

}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon{
        width: 66px;
        height: 66px;
    }
    &__icon-litle{
        width: 44px;
        height: 66px;
    }

    &__title{
        font-weight: 700;
        font-size: 27px;
        line-height: 58px;
        color: #000;
        margin: 0;
        margin-bottom: 20px;
    }
    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__desc{
        width: 279px;
        font-weight: 300;
        font-size: 18px;
    }
    
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 1;
        margin: 0 5%;
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right:0;
        }
    }
    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F2F5F4;
        width: 128px;
        height: 128px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

}