.form{
    display: flex;
    &__row{
        display: flex;
        margin-bottom: 0.75rem;
    }
    &__input{
        font-family: 'Open Sans', sans-serif;
        width: 100%;
        border: none;
        padding: 0.5rem 0.6rem;
        border: solid 3px transparent;
        border-radius: 0.25rem;
        &:focus{
            border: solid 0.18rem #FEDB3F;
            outline: none;
        }
        &--textarea{
            margin-bottom: 2.4rem;
        }
    }
    &__payment-methods{
        display: flex;
        margin-bottom: 1.2rem;
    }
    &__btns{
        display: flex;
    }
    &__col{
        flex: 1;
        margin-right: 1.25rem;
        &:last-child{
            margin-right: 0;
        }
    }
    @include tablets{
        flex-direction: column;
        &__payment-methods{
            display: flex;
        }
    
        &__col{
            flex: 1;
            margin-right:0;
            margin: 0 18%;
            &:last-child{
                margin-right: 18%;
            }
        }
        &__btns{
            justify-content: center;
        }
    }


}

.form-section{
    background: url(../img/backgroundform.jpeg) top 20% center no-repeat,;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        margin-top: 3.9rem;
    }

    &__title{
        color: #fff;
        font-weight: 700;
        font-size: 3rem;
        line-height: 3.6rem;
        margin: 0;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    @include phones{
        .form-section{
            &__title{
                font-size: 2.4rem;
                line-height: 2.2rem;
            }
        }
    }

}
.label{
    flex: 1;
    margin-right: 1.25rem;
    &:last-child{
        margin-right: 0;
    }
    display: flex;
    flex-direction: column;
}
.btn{
    &--grey{
        width: 9.75rem;
        height: 3.75rem;
        background: none;
        font-style: normal;
        font-weight: 400;
        font-size: 1.1rem;
        color: #fff;
        &:hover{
            transition: .4s;
            background: #00000080;
        }
    }
    &--yeelow{
        width: 9.75rem;
        height: 3.75rem;
    }
}

.checkbox{
    display: none;
}
.radio{
    display: none;
}
.controls{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.1rem;
    margin-right: 0.9rem;
    &--checkbox{
        margin-bottom: 2.75rem;
    }
}
.fake{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    margin-right: 0.6rem;
    background: #fff;

    &::before{
        content: "";
        width: 0.6rem;
        height: 0.5rem;
        display: flex;
        top: 50%;
        left: 50%;
        background: url(../img/checked.png) center center no-repeat;
        opacity: 0;
        transition: .5s;
    }

    &__radio{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        background: #fff;
        margin-right: 0.6rem;

        &::before{
            content: "";
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;
            display: flex;
            background: #FEDB3F;
            opacity: 0;
            transition: .5s;
        }
    }
}
.checkbox:checked +.fake::before{
    opacity: 1;
}
.radio:checked +.fake__radio::before{
    opacity: 1;
}