.form{
    display: flex;
    &__row{
        display: flex;
        margin-bottom: 12px;
    }
    &__input{
        font-family: 'Open Sans', sans-serif;
        width: 100%;
        border: none;
        padding: 18px 11px;
        border: solid 3px transparent;
        border-radius: 4px;
        &:focus{
            border: solid 3px #FEDB3F;
            outline: none;
        }
        &--textarea{
            height: 152px;
            margin-bottom: 38px;
        }
    }
    &--payment-methods{
        margin-bottom: 19px;
    }
    &__btns{
        display: flex;
    }
}
.form-section{
    background: url(../img/backgroundform.jpeg) top 20% center no-repeat,;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        margin-top: 62px;
    }
    &__title{
        color: #fff;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        margin: 0;
        text-transform: uppercase;
        margin-bottom: 52px;
    }
}
.form__col{
    flex: 1;
    margin-right: 20px;
    &:last-child{
        margin-right: 0;
    }
}
.label{
    flex: 1;
    margin-right: 20px;
    &:last-child{
        margin-right: 0;
    }
    display: flex;
    flex-direction: column;
}
.btn{
    &--grey{
        width: 156px;
        height: 60px;
        background: none;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        &:hover{
            transition: .4s;
            background: #00000080;
        }
    }
    &--yeelow{
        width: 156px;
        height: 60px;
    }
}

.checkbox{
    display: none;
}
.radio{
    display: none;
}
.controls{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    margin-right: 15px;
    &--checkbox{
        margin-bottom: 44px;
    }
}
.fake{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 10px;
    background: #fff;

    &::before{
        content: "";
        width: 10px;
        height: 8px;
        display: flex;
        top: 50%;
        left: 50%;
        background: url(../img/checked.png) center center no-repeat;
        opacity: 0;
        transition: .5s;
    }

    &__radio{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #fff;
        margin-right: 10px;

        &::before{
            content: "";
            width: 13px;
            height: 13px;
            border-radius: 50%;
            display: flex;
            background: #FEDB3F;
            opacity: 0;
            transition: .5s;
        }
    }
}
.checkbox:checked +.fake::before{
    opacity: 1;
}
.radio:checked +.fake__radio::before{
    opacity: 1;
}
