.hello{
    @include tablets{
        width: 100vw;
        background: url(../img/cc54b080a52d3a32105f47fa904b563a.jpeg) bottom right 24% no-repeat;
        background-size: cover;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/cc54b080a52d3a32105f47fa904b563a.jpeg) bottom center no-repeat;
    background-color: #1968B1;
    background-size: cover;
    font-family: 'Alegreya Sans', sans-serif;
    height: 100vh;
    min-height: 40.6rem;
    color: #fff;

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__title-section{
        width: 41%;
        @include tablets{
            display: flex;
            min-width: 100%;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 0 5%;
        }

    }

    &__icons-section{
        @include tablets{
            display: none;
        }
    }

    &__main-title{
        font-weight: 700;
        font-size: 3rem;
        line-height: 3.6rem;
        margin: 0;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    &__title-desc{
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.75rem;
        margin-bottom: 2.4rem;
    }

    @include phones{
        &__main-title{
            font-size: 2.5rem;
            line-height: 2.2rem;
        }
    }
}

.btn{
    display: block;
    width: 9.75rem;
    height: 3.75rem;
    background: #FEDB3F;
    border-radius: 2.18rem;
    padding: 1.3rem 2.56rem;
    color: #000;
    font-weight: 800;
    font-size: 1rem;
    margin-bottom: 2rem;
    border: none;
    &:hover{
        transition: .4s;
        background: #FFD517;
    }
}
/**
@media (max-width:410px) {

    .hello{
        &__main-title{
            font-size: 1.8rem;
            line-height: 1.5rem;
        }
    }


}
*/