.adventages{
    display: flex;
}
.adventage{
    &__icon{
        width: 2.1rem;
        height: 2.1rem;
        margin-right: 0.87rem;
    }
    &__text{
        font-weight: 700;
        font-size: 1rem;
    }
    &__item{
        display: flex;
        align-items: center;
        margin-right: 2rem;
    }
    &__text{
        width: 5.6rem;
        font-weight: 700;
        font-size: 1rem;
    }
}