.reviews{
    display: flex;
    background: #F8FAF9;
    display: flex;
    flex-direction: row;
    padding: 42px 142px 42px 42px;
    margin-bottom: 7px;

    &__list{
        display: flex;
        align-items: center;
        margin-bottom: 63px;
        margin-top: 0;
    }

    &__item{
        display: flex;
        margin: 6px;
    }
    &__link{
        display: block;
        width: 74px;
        height: 74px;
    }
    &__logo{
        display: block;
        margin: 3px;
        width: 74px;
        height: 74px;
        &:hover{
            margin: 0px;
            border-radius: 50%;
            border: 6px solid #FEDB3F;
            box-sizing: border-box;
        }
    }

}
.review__content{
    display: flex;
    width: 62%;
    flex-direction: column;
    justify-content: center;

}
.review__img{
    width: 253px;
    height: 264px;
    margin-right: 40px;
}
.review__text{
    color: #666666;
    font-weight: 400;
    font-size: 18px;
}
.review__title{
    font-weight: 700;
    font-size: 27px;
}

