.reviews{
    &__display{
        display: flex;
        background: #F8FAF9;
    }
    &__list{
        position: relative;
        min-height: 280px;
    }
    &__item{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .3s;
        opacity: 0;
    }
    &__item.active{
        position: static;
        opacity: 1;
        pointer-events: unset;
    }
    &__display-inner{
        display: flex;
        background: #F8FAF9;
        margin-bottom: 0.7rem;
        padding: 2.6rem 8.87rem 2.6rem 2.6rem;
        @include tablets{
            flex-direction: column;
            align-items: center;
            padding: 3.5rem 1.4rem 1.4rem;
        }
    }
}
.avatar{
    &__list{
        display: flex;
        align-items: center;
        margin-top: 0;
    }

    &__item{
        display: flex;
        margin: 0.25rem;
        &:hover{
            width: 5.1rem;
            height: 5.1rem;
            margin: 0;
            border-radius: 50%;
            border: 0.37rem solid #FEDB3F;
            box-sizing: border-box;
        }
    }
    &__item.active{
        width: 5.1rem;
        height: 5.1rem;
        margin: 0;
        border-radius: 50%;
        border: 0.37rem solid #FEDB3F;
        box-sizing: border-box;
    }
    &__link{
        display: block;
        width: 4.6rem;
        height: 4.6rem;
    }
    &__logo{
        border-radius: 50%;
        width: 4.4rem;
        height: 4.4rem;
    }
}

.review__content{
    display: flex;
    width: 62%;
    flex-direction: column;
    justify-content: center;
    
    @include tablets{
        width: 100%;
        align-items: center;
        text-align: center;
    }

}
.review__img{
    width: 15.8rem;
    height: 16.5rem;
    margin-right: 2.5rem;

    @include tablets{
        width: 8rem;
        height: 8rem;
        margin: 0;
        margin-bottom: 2rem;
    }
}
.review__text{
    color: #666666;
    font-weight: 400;
    font-size: 1.1rem;

    @include tablets{
        margin-bottom: 1rem;
    }
}
.review__title{
    color: #000;
    font-weight: 700;
    font-size: 1.68rem;

    @include tablets{
        margin-bottom: 1rem;
    }
}