.section{
    height: 100vh;
    min-height: 40.6rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 6.68rem;
    }

    &__title{
        font-weight: 700;
        font-size: 3rem;
        line-height: 3.6rem;
        color: #000;
        margin: 0;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    @include phones{
        .section{
            &__title{
                font-size: 2.4rem;
                line-height: 2.2rem;
            }
        }
    }
}

.headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    @include phones{
        .headline{
            &__title{
                font-size: 2.4rem;
                line-height: 2.2rem;
            }
        }
    }
    &__title{
        font-weight: 700;
        font-size: 3rem;
        line-height: 3.6rem;
        color: #000;
        margin: 0;
        text-transform: uppercase;
        margin-bottom: 1.06rem;
    }

    &__subtitle{
        font-style: normal;
        font-weight: 400;
        font-size: 1.1rem;
        width: 69%;
        text-align: center;
    }
}
/**
@media (max-width:480px) {

    .section{
        &__title{
            font-size: 2.5rem;
            line-height: 2.2rem;
        }
    }

    .headline{
        &__title{
            font-size: 2.5rem;
            line-height: 2.2rem;
        }
    }


}
@media (max-width:320px) {
    .section{
        &__title{
            font-size: 1.8rem;
            line-height: 1.5rem;
        }
    }

    .headline{
        &__title{
            font-size: 1.8rem;
            line-height: 1.5rem;
        }
    }

}
*/
