
  .slider{
    position: relative;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(rgb(0 0 0 / 50%)), url('../img/slider.png') center center no-repeat;
	  background-size: cover;
    &__container{
      display: flex;
      justify-content: flex-end;
      height: 100vh;
    }
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .slider__title {
    color: #fff;
    position: absolute;
    top: 20px;
    left: 0;
  }
  
  .slider-acco{
    display: flex;
    height: 100%;
    position: absolute;
    right: 0;
    width: 100%;
    justify-content: flex-end;

  }
  
  .slide-acco__line{
    display: flex;
    cursor: pointer;
    height: 100vh;
  }
  
  .slide-acco__trigger{
    position: relative;
    min-width: 102px;
    &--one{
        background: linear-gradient(rgb(0 0 0 / 50%)),
        url('../img/slide1.png') center center no-repeat;
        background-size: cover;

    }
    &--two{
        background: linear-gradient(rgb(0 0 0 / 50%)),
        url('../img/slide2.png') center center no-repeat;
        background-size: cover;
    }
    &--three{
        background: linear-gradient(rgb(0 0 0 / 50%)),
        url('../img/slide3.png') center center no-repeat;
        background-size: cover;
    }
  }

  .slide-acco__trigger-text{
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: rotate(-90deg) translate(0%, -50%);
    transform-origin: 0 0;
    white-space: nowrap;
    font-weight: 700;
    font-size: 48px;
  }
  .slide-acco__line_active{
    @include phones{
      z-index: 1;
      position:absolute;
    }
  }
  .slide-acco__content{
    width: 0;
    padding: 0px;
    opacity: 0;
    overflow: hidden;
    transition: .7s;
    color: #fff;
    background: #333537E5;
    backdrop-filter: blur(3px);
  }
  .slide-acco__line_active > .slide-acco__content {
    width: 564px;
    padding: 30px;
    box-sizing: border-box;
    opacity: 1;
    z-index: 10;
    @include tablets{
      width: 31rem;
    }
    @include phones{
      width: 80vw;
    }
    @include min-phones{
      width: 70vw;
    }
  }
  .close-slide{
    @include tablets{
      display: none;
    }
    @include phones{
    display: block;
    color: #fff;
    position: absolute;
    right: 1rem;
    top: 1rem ;
    width: 20px;
    height: 20px;
    }
  }
  
  